.footer{
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100px;
    width: auto;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
h3{
    z-index: 1;
    color: aliceblue;
   justify-content: center;
   text-align: right;
   margin-right:50px;
}